# Unity
.DS_Store
/Library/
/Temp/
/Obj/
/Build/
/Builds/
/Logs/
/UserSettings/
/MemoryCaptures/
*.csproj
*.sln
*.pidb
*.suo
*.user
*.userprefs
.vs/
.idea/

# keep the tool projects
!/Tools/**/*.csproj

# tool outputs
/Tools/**/bin/
/Tools/**/obj/
/Tools/parity/lua.txt
/Tools/parity/csharp.txt
